.game-container{
    background:#fff;
    padding:35px 20px 20px;
    margin:50px 0;
}

.game-pic{
    width:95%;
}

.game-title{
    font-family:'ZCOOL QingKe HuangYou',cursive;
    font-size:4rem;
}

.game-title, .game-desc{
    margin:0;
}

.game-main-details{
    padding-bottom:10px;
    border-bottom:1px solid lightgray;
}

.btm-header{
    float:left;
    font-size:1.5rem;
}

@media screen and (max-width:600px){
    .game-pic{
        width:80%;
    }

    .game-title{
        margin-top:10px;
    }
}

@media screen and (min-width:600px) and (max-width:1200px){
    .game-desc{
        width:80%;
        margin:0 auto;
    }
}