.header{
    color: #fff;
}

.login-nav-bar{
    height: 30px;
}

.brand-logo{
    font-family:'ZCOOL QingKe HuangYou',cursive;
    font-size:2.5rem;
}

.login-nav-bar .right{
    position:relative;
    top:10px;
}

.header .login-nav-bar{
    height: 30px;
}
.header .btn-github{
    color: #fff;
    background-color: #444;
    border-color: rgba(0,0,0,0.2);
    background-repeat: no-repeat;
    background-position: 5px;
    margin-right:5px;
}
.btn-github:hover{
    color: #aaa;
}

.logo-search-header{
    display:flex;
}

.search-icon{
    width:5%;
    display:flex;
    align-self:center;
}

.search-input{
    width:95%;
}

@media screen and (max-width:600px){
    .search-icon{
        width:12%;
        display:flex;
        align-self:center;
    }
    
    .search-input{
        width:88%;
    }
}

@media screen and (min-width:601px) and (max-width:992px){
    .search-icon{
        width:8%;
        display:flex;
        align-self:center;
    }
    
    .search-input{
        width:92%;
    }
}