.home{
    background:#fff;
}

.slick-slider, .carousel-img{
    height:500px;
}

.carousel-img{
    width:100%;
    object-fit:cover;
    filter:saturate(200%);
}

.slick-prev{
    left:25px;
    z-index:2;
}

.slick-next{
    right:25px;
}

.content-container{
    margin-top:20px;
}

.card .card-image img{
    height: 300px;
    object-fit: contain;
    background-color:rgba(49, 63, 159, 0.1);
}

@media screen and (max-width:992px){
    .carousel-img, .slick-slider{
        height:300px;
    }
}