body{
    background: #3240b3;
    /* background: -moz-linear-gradient(top, #3240b3 0%, #060a24 100%);
    background: -webkit-linear-gradient(top, #3240b3 0%,#060a24 100%);
    background: linear-gradient(to bottom, #3240b3 0%,#060a24 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3240b3', endColorstr='#060a24',GradientType=0 ); */
    background-image:url('/images/zapbg.png');
    background-position:center;
    background-size:cover;
    font-family:'Poppins',sans-serif;
}

main{
    margin:50px 0;
}